.saveNestedDiv, .editWrapper{
    display: flex;
    flex-grow: 1;
}

.saveNestedDiv{
    min-width: 0;
}

.editWrapper{
    justify-content: center;
    align-items: center;
}

.textfield{
    justify-content: center;
    flex-grow: 1;
}