.productLabelWrap{
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
}

.productLabel{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.001em;
    user-select: none;
    overflow-wrap: break-word;
}

.checkedLabel{
    color: gray;
    text-decoration: line-through;
}